@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Work+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border : none;
}

body {
    font-family: 'Arapey', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #252441;
    background-color: #FAF9F5;

}

/*Header*/

#parent-container-header {
    display: grid;
    grid-column: 2;
    width: 100%;
    height: 10%;
    text-align: center;
}

.child-container-logo {
    grid-column: 1;
    column-width: 40%;

}

.child-container-links {
    grid-column: 2;
    column-width: 60%;
    margin-top: 6%;
}

#company-name {
    margin-top: 4%;
    
}

/*Logo*/

#logo, h1 {
    float: left;
    margin-left: 10px;
    width: 15%;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    width: fit-content;
    text-align: center;
    color: #ff914d;
}

/*Navigation links*/

.active {
    border-bottom: 3px solid #ff914d;
}

#menu {
    float: right;
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 20px;

}

#menu a:hover {
    border-bottom: 3px solid #ff914d;
}

a{
    text-decoration: none;
    color: #252441;
}

#menu li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
    
}

/*image-text section*/

.image-text-container {
    display: table-row;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.view-table {
    display: table;
}

.view-row {
    display: table-row;
}

.view-row>div {
    display: table-cell;
}

/*image section*/

.image-side {
    height: 100%;
    overflow: hidden;
    display: table-cell;
    width: 75%;
}

img {
    height: 100%;
    max-width:100%;
    object-fit: cover;
}

/* text section*/
.text-side {
    overflow: hidden;
    float: right;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #252441;
    color: #FAF9F5;

    height: 100%;
}
    

.text-side > h2 {
    font-size: 300%;
    padding-top: 25%;
    color: #FAF9F5;
}
hr {
    border-top: 3px solid #ff914d;
    width: 100%;
    margin: 15% 0;
}


.text-side >p {
    font-size: 25px;
    margin-top: 20%;
    color: #FAF9F5;
}


/*Button tin first section to fill the form*/

.complete-form {
    background-color: #ff914d;
    font-size: 80%;
    color: #252441;
    border: 2px solid  #ff914d;
    margin-top: 15%;
    margin-bottom: 18%;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
    font-weight: bold;
}

.complete-form:hover {
    background-color: #FAF9F5;
    color: #ff914d;
}

/*main title*/

.main-title {
    text-align: center;
    color: inherit;
    text-transform: uppercase;
    margin-top: 3%;
    font-size: 50px;
    display: grid;
    color: #252441;
}

/*Steps*/

.steps-container {
    width: 90%;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    text-align: center;

    
    float: left;
    overflow: hidden;
}

.steps-child {
    max-height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    overflow: hidden;
    text-align: center;
}

a > p {
    font-size: 25px;
    margin-top: 20%;
    color: #252441;
}


.steps-container > .steps-child {
    height: 100%;
    width: 20%;
    display: inline;
    float: left;
}

.steps {
    font-size: 25px;
    color: #252441;
    background-color: #ff914d;
    text-transform: uppercase;
}

a > h3:hover {
    background-color:#252441;
    color: #ff914d;
}

/*central section*/

.central-section {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #252441;

}
.center-text {
    margin-top: 5%;
    line-height: 160%;
}

/*Review section*/

.review-container {
    color: #fff;
    text-align: left;
    width: 90%;
    height: 200px;
    margin-top: 3%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 6%;

    float: left;
    overflow: hidden;

}

.review-child {
    max-height: 100%;
    margin-left: 2.3%;
    margin-right: 2.3%;
    overflow: hidden;
    background-color: #252441;
    position: relative;
    
}


.review-container > .review-child {
    height: 100%;
    width: 20%;
    display: inline;
    float: left;
}

.reviews > .text-review {
    
    color: #FAF9F5;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 120%;

}

.name {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 130%;
}

.subtitle {
    text-align: center;
    font-size: 130%;
    text-transform: uppercase;
    margin-top: 2%;
}

 i {
    
    font-size: 100%;
    margin-top: 2%;
    margin-right: 7%;
    margin-left: 0;
    
}

.line {
    color: #ff914d;
}

/*Footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #ff914d;
    opacity: 0.9;
    overflow-x: hidden;
}

.container-social-media{
    width: 100%;
    text-align: center;
    display: inline-block;
    width: 33%;
    margin-left: 33%;
}
.social-media {
    display: inline-block;
    width: 100%;
    height: 80px;
    font-size: 230%;
    letter-spacing: 40%;
    padding-bottom: 50%;
}

.social-media > a:hover {
    color: #FAF9F5;
} 

/* SECOND PAGE - ALEBRIJE PAGE*/

/*central section*/
.container-central-section {
    border: 10px solid #ff914d;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border-radius: 15%;
    margin-bottom: 5%;
}

.child-central-section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 150%;
    margin-bottom: 5%;

}
.child-central-section > ul {
    list-style-type: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*types of alebrije section*/

.water, .fire, .earth, .air  {
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 10%;
}

.water{
    background-image: url('../css/images/water-alebrije.jpg');
}

.fire{
    background-image: url('../css/images/fire-alebrije.jpg');
    
}

.air{
    background-image: url('../css/images/air-alebrije.jpg');
    
}

.earth{
    background-image: url('../css/images/earth-alebrije.jpg');
    
}

/*Text-small image section*/

.small-image-side{
        height: 600px;
        overflow: hidden;
        display: table-cell;
        width: 30%;
        margin-top: 5%;
}

.big-text-side {
    overflow: hidden;
    float: right;
    background-color: #FAF9F5;
    color: #252441;
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    box-sizing: border-box;

    
    border: 10px solid #ff914d;
    border-radius: 15%;

}


