@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Work+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border : none;
}

body {
    font-family: 'Arapey', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #ff914d;
    background-color: #a26996;
}

/*Header*/

#parent-container-header {
    display: grid;
    grid-column: 2;
    width: 100%;
    height: 10%;
}

.child-container-logo {
    grid-column: 1;
    column-width: 40%;

}

.child-container-links {
    grid-column: 2;
    column-width: 60%;
    margin-top: 8%;
}

#company-name {
    margin-top: 4%;
    
}

/*Logo*/

#logo, h1 {
    float: left;
    margin-left: 10px;
    width: 15%;
}

h1 {
    font-size: 40px;
    float: left;
    width: fit-content;
    text-align: center;
    color: #ff914d;
}

/*Navigation links*/

#menu {
    float: right;
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 20px;

}

#menu a{
    text-decoration: none;
    color: #ff914d;
}

#menu li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
    
}


/*Images*/

.left-side{
    height: 350px;
    width: 100%;
    overflow: hidden;
}


