@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Work+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border : none;
}

body {
    font-family: 'Arapey', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #252441;
    background-color: #FAF9F5;

}

/*Header*/

#parent-container-header {
    display: grid;
    grid-column: 2;
    width: 100%;
    height: 10%;
    text-align: center;
}

.child-container-logo {
    grid-column: 1;
    column-width: 40%;

}

.child-container-links {
    grid-column: 2;
    column-width: 60%;
    margin-top: 6%;
}

#company-name {
    margin-top: 4%;
    
}

/*Logo*/

#logo, h1 {
    float: left;
    margin-left: 10px;
    width: 15%;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    width: fit-content;
    text-align: center;
    color: #ff914d;
}

/*Navigation links*/

#menu {
    float: right;
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 20px;

}

#menu a:hover {
    border-bottom: 3px solid #9DD3F6;
}

a{
    text-decoration: none;
    color: #ff914d;
}

#menu li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
    
}

/*image-text section*/

.image-text-container {
    display: table-row;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.view-table {
    display: table;
}

.view-row {
    display: table-row;
}

.view-row>div {
    display: table-cell;
}

/*image section*/

.image-side {
    height: 100%;
    overflow: hidden;
    display: table-cell;
    width: 75%;
}

img {
    height: 100%;
    max-width:100%;
    object-fit: cover;
}

/* text section*/
.text-side {
    overflow: hidden;
    float: right;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #9DD3F6;
    color: #FAF9F5;

    height: 100%;

}
hr {
    border-top: 3px solid #ff914d;
    width: 100%;
    margin: 15% 0;
}

h2 {
    font-size: 50px;
    display: grid;
    color: #252441;
}

p {
    font-size: 25px;
    margin-top: 20%;
    color: #252441;
}


/*Button tin first section to fill the form*/

.complete-form {
    background-color: #FAF9F5;
    font-size: 80%;
    color: #ff914d;
    border: 2px solid  #ff914d;
    margin-top: 15%;
    margin-bottom: 18%;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
    font-weight: bold;
}

.complete-form:hover {
    background-color: #ff914d;
    color: #FAF9F5;
}

/*main title*/

.question {
    text-align: center;
    color: inherit;
    text-transform: uppercase;
    margin-top: 3%;
}

/*Steps*/

.steps-container {
    width: 90%;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    text-align: center;

    
    float: left;
    overflow: hidden;
}

.steps-child {
    max-height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    overflow: hidden;
    text-align: center;
}


.steps-container > .steps-child {
    height: 100%;
    width: 20%;
    display: inline;
    float: left;
}

.steps {
    font-size: 25px;
    color: #252441;
    background-color: #ff914d;
    text-transform: uppercase;
}

h3:hover {
    background-color:#252441;
    color: #ff914d;
}

/*central section*/

.central-section {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: #ff914d;

}
.center-text {
    margin-top: 5%;
    line-height: 160%;
}

/*Review section*/

.reviews {
    background-color:#252441;
    color: #fff;
    text-align: left;
}

.reviews > .name{
    color: #FAF9F5;
    text-transform: uppercase;

}

.reviews > .p-review {
    
    padding-top: 5%;
    color: #FAF9F5;

}

.subtitle {
    text-align: center;
    font-size: 130%;
    text-transform: uppercase;
    margin-top: 2%;
}

i {
    
    font-size: 250%;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 2%;
    
}