@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Work+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Arapey', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #252441;
    background-color: #FAF9F5;
}

h2 {
    color: #FAF9F5;
}

/*Header*/
#parent-container-header {
    display: grid;
    grid-template-areas: 'left right';
    grid-column: 2;
    width: 100%;
    height: 10%;
    text-align: center;
}

.child-container-logo {
    grid-column: 1;
    grid-area: left;
    column-width: 40%;
}

.child-container-links {
    grid-column: 2;
    grid-area: right;
    column-width: 60%;
    margin-top: 6%;
}

#company-name {
    margin-top: 4%;
}

/*Logo*/
#logo,
h1 {
    float: left;
    margin-left: 10px;
    width: 15%;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    width: fit-content;
    text-align: center;
    color: #ff914d;
    margin-left: 3%;
}

.blue {
    color: #252441;
}

/*Navigation links*/
.active {
    border-bottom: 3px solid #ff914d;
}

#menu {
    float: right;
    margin: 3% 20px;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}

#menu a:hover {
    border-bottom: 3px solid #ff914d;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu>li {
    list-style-type: none;
    float: left;
    margin-right: 20px;

}

/*image-text section*/
.image-text-container>img {
    width: 75%;
    height: 100%;
    display: flex;
    text-align: left;
}

.image-text-container {
    height: 600px;
    text-align: center;
    display: flex;
}

/*test text side*/
.text-side {
    overflow: hidden;
    text-align: center;
    padding: 0;
    background-color: #252441;
    color: #FAF9F5;
    height: 100%;
    width: 25%;
    position: relative;
}

/*image section*/
img {
    max-width: 100%;
    object-fit: cover;
}

/*text section*/
.text-side>h2 {
    font-size: 300%;
    margin-top: 15%;
    color: #FAF9F5;
}

hr {
    border-top: 3px solid #ff914d;
    width: 80%;
    margin: 15% 10%;
}

.text-side>p {
    font-size: 25px;
    margin: 20% 5% 0 5%;
    color: #FAF9F5;
}

/*Button tin first section to fill the form*/
.complete-form {
    background-color: #FAF9F5;
    font-size: 75%;
    color: #252441;
    border: 3px solid #ff914d;
    border-radius: 10px;
    height: 45px;
    width: 130px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 2%;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 31%;
}


/*main title*/
.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    display: grid;
}

/*Steps*/

.steps-container {
    width: 90%;
    height: 350px;
    margin: 3% 5%;
    text-align: center;

    display: flex;
    overflow: hidden;
}

.steps-child {
    max-height: 100%;
    margin: 0 2.5%;
    overflow: hidden;
    text-align: center;
}

a>p {
    font-size: 25px;
    margin-top: 20%;
    color: inherit;
}

.steps-container>.steps-child {
    height: 100%;
    width: 20%;
    align-items: left;
}

.steps {
    font-size: 25px;
    color: #252441;
    background-color: #ff914d;
    text-transform: uppercase;
}

a>h3:hover {
    background-color: #252441;
    color: #ff914d;
}

/*central section*/

.central-section {
    text-align: center;
    font-size: 25px;
    margin: 2% 20% 1% 20%;
    display: block;
    color: #FAF9F5;
    background-color: #252441;

}

.center-text {
    margin-top: 5%;
    line-height: 160%;
}

/*Review section*/

.review-container {
    color: #fff;
    text-align: left;
    width: 90%;
    height: 200px;
    margin: 3% 4.5% 2% 4.5%;

    float: left;
    overflow: hidden;

}

.review-child {
    max-height: 100%;
    margin: 0 2.3%;
    overflow: hidden;
    background-color: #252441;
    position: relative;

}

.review-container>.review-child {
    height: 100%;
    width: 20%;
    display: inline;
    float: left;
}

.reviews>.text-review {

    color: #FAF9F5;
    margin: 8% 0 0 2%;
    font-size: 110%;
    padding: 1%;

}

.name {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 130%;
    color: #ff914d;
    text-decoration: solid;
    padding: 2%;
}

.subtitle {
    text-align: center;
    font-size: 130%;
    text-transform: uppercase;
    margin-top: 2%;
}

i {
    font-size: 100%;
    margin: 1%;
    padding: 2% 1%;
}

.line {
    color: #ff914d;
}

/*Next-page-button*/
.next-page {
    width: 5%;
    height: 25%;
    float: right;
    margin: 0.5% 0 5% 0;
    font-size: 200%;

}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ff914d;
    opacity: 0.9;
    display: flex;
    flex-wrap: nowrap;
}

.container-social-media {
    text-align: center;
    display: flex;
    width: 33%;
    margin-left: 33%;
    flex-wrap: nowrap;
}

.social-media {
    align-items: center;
    width: 100%;
    height: 150%;
    font-size: 230%;
    letter-spacing: 40%;
}

.social-media>a:hover {
    color: #FAF9F5;
}

/* SECOND PAGE - ALEBRIJE PAGE*/

/*central section*/
.container-central-section {
    border: 10px solid #ff914d;
    margin: 5% 15% 5% 15%;
    text-align: center;
    border-radius: 15%;

    color: #FAF9F5;
    background-color: #252441;
}

.child-central-section {
    margin: 5% 10% 4.5% 10%;
    font-size: 150%;
}

.child-central-section>ul {
    list-style-type: none;
    margin: 2% 0;
}

/*types of alebrije section*/
.big-container {
    width: 90%;
    height: 350px;
    margin: 3% 5% 10% 5%;
    display: flex;
}

.big-container>.steps-child {
    width: 25%;
    height: 350px;
    align-items: left;
}

.water,
.fire,
.earth,
.air {
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 10%;
}

.water {
    background-image: url('../css/images/water-alebrije.jpg');
}

.fire {
    background-image: url('../css/images/fire-alebrije.jpg');

}

.air {
    background-image: url('../css/images/air-alebrije.jpg');

}

.earth {
    background-image: url('../css/images/earth-alebrije.jpg');

}

/*Text-small image section*/

.small-image-text>img {
    width: 32%;
    height: 100%;
    display: flex;
    text-align: left;
    object-fit: cover;
    max-width: 100%;
}

.small-image-text {
    height: 600px;
    text-align: center;
    display: flex;
    width: 100%;
    margin: 5% 0;
}


.big-text-side {
    overflow: hidden;
    text-align: left;
    color: #FAF9F5;
    background-color: #252441;
    height: 100%;
    width: 70%;
    margin: 0 5% 0 5%;
    box-sizing: border-box;
    border: 10px solid #ff914d;
    border-radius: 15%;
    padding: 3%;
}

.description-alebrije {
    margin: 0 5%;
}

.description-alebrije>li {
    list-style-type: circle;
    font-size: 150%;
}

.strong {
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 150%;
    color: #ff914d;

}

/*STEPS-PAGE*/

/*container with 3 divs*/
.image>img {
    width: 30%;
    height: 100%;
    display: flex;
    text-align: left;
    object-fit: cover;
    max-width: 100%;
}

.image {
    height: 550px;
    text-align: left;
    display: flex;
    width: 100%;
    margin: 3% 0;
}

.text {
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0 3%;
    background-color: #252441;
    color: #FAF9F5;
    height: 100%;
    width: 35%;

    border: 10px solid #ff914d;
    border-radius: 10%;
    box-sizing: border-box;
}

.text>h2 {
    font-size: 300%;
    padding-top: 3%;
    text-align: center;
}

.text>p {
    font-size: 23px;
    margin-top: 7%;
    margin-bottom: 2%;
    text-align: center;
}

/*altar section*/
.instruction {
    width: 90%;
    margin: 3% 5%;
    font-size: 140%;
}

.instruction>* {
    margin-top: 3%;
}

ol>li,
li>p {
    margin: 3%;
    letter-spacing: 10%;
}

.video {
    width: 90%;
    text-align: center;
    margin: 5%;

}

.list-title {
    font-size: 130%;
    background-color: #ff914d;
    margin: 2%;
    display: block;
}

.small-image {
    max-width: 200px;
    float: right;
    width: 25%;
    box-sizing: border-box;

}

.container-small-image,
.container-small-image-right {
    width: 30%;
    height: 40%;
    margin: 2%;
    display: inline-flex;
}

.container-small-image {
    float: left;
}

.container-small-image-right {
    float: right;
}

/*Food section*/
.ingredient {
    width: 98%;
    height: 30%;
}

.ingredient-list>li {
    margin: 1% 5%;
    height: 100%;
    font-size: 100%;
    list-style-type: disc;
}


fieldset {
    border: 3px solid #ff914d;
}

legend {
    text-transform: uppercase;
    font-size: 140%;
    color: #ff914d;
    margin: 3%;
}

.instruction-subtitle {
    text-transform: uppercase;
    margin: 1% 1% 1% 5%;
}

/*NEW PAGE ABOUT US*/
/*first image*/
.image-about-us {
    width: 100%;
    height: 100%;
}

.image-about-us>img {
    width: 100%;
    height: 750px;
}

.container-about-image {
    width: 20%;
    height: 30%;
    margin: 3%;
    display: inline-flex;
    float: left;
}

/*Contact us section in about us page*/
.contact-us {
    display: flex;
    width: 95%;
    margin: 2.5%;
    background-color: #252441;
    color: #FAF9F5;
}

.contact-details {
    align-items: left;
    width: 50%;
    margin: 2%;
}

.contact-details>p,
.map-side>p {

    font-size: 140%;
    color: inherit;
}

.contact-details>p {
    margin-left: 10%;
    margin: 8% 0 8% 10%;
}

.map-side>p {
    margin: 1% 0 5% 0;
}

.map-side {
    text-align: center;
    width: 50%;
    margin: 2% 5%;
}

.sub-heading {
    margin: 0 10%;
    text-transform: uppercase;
    font-size: 250%;
    color: #ff914d;
    text-align: center;
}


/*Disclaimer*/
.disclaimer {
    font-size: 100%;
    color: inherit;
    margin: 2% 5% 5% 5%;
    font-weight: bold;
}

/*container form and terms and condition*/
.form-terms-container{
    display: flex;
    width: 90%;
    margin: 3% 5%;
    font-size: 100%;
    color: #252441;
    align-items: flex-end;
}

.terms-condition{
    width: 60%;
    margin: 3%;
}

#terms {
    height: 470px;
    width: 90%;
    overflow: scroll;
    padding: 2% 5%;
}
#terms>p,
#terms>h5,
#terms>ul {
    margin: 2%;
    font-size: 90%;
    font-size: 100%;
}

.tacbox {
    display:block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
  }

/* Form */
.form-section{
    width: 100%;
    align-items: left;
}
.form{
    font-size: 120%;
    color: #252441;
}
.form>p{
    margin: 2.5%;
    width: 100%;
}
.zodiacal_sign {
    margin: 2.5% 3%;
    display: block;
    font-size: 110%;
    font-family: inherit;
    border: 1px solid #252441;
    border-radius: 4px;
  }
.alebrije-form{
    width: 60%;
    height: 100%;
    margin: 3%;
}
.form>label {
    margin: 5% 3%;
}
.radio-input{
    width: 7%;
    margin: 0;
}
.text-input {
    width: 95%;
    padding: 12px 20px;
    margin: 2.5%;
    display: inline-block;
    border: 1px solid #252441;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
  }
  .button-container{
    display: flex;
  }
  .button {
    margin: 5%;
    align-items: center;
    height: 35px;
    width: 40%;
    cursor: pointer;
    background-color: #FAF9F5;
    font-size: 100%;
    color: #252441;
    border: 3px solid #ff914d;
    border-radius: 10px;
}


/*For screen with max-width of 1050 px-tablet size*/
@media screen and (max-width: 1050px) {
    .image-text-container>img {
        width: 65%;
        max-width: 900px;
        height: 100%;
        display: flex;
    }

    /*Header*/
    #parent-container-header {
        grid-template-columns: repeat(2, 1);
        grid-gap: 1px;
        grid-auto-rows: 10px, auto;
        text-align: center;
    }

    .child-container-logo {
        width: 100%;
        grid-row: 1;
        margin-left: 2%;
    }

    .child-container-links {
        width: 100%;
        margin: 0 2%;
        grid-column: 1 / 3;
        grid-row: 2;
    }

    #logo {
        width: 9%;
        text-align: center;
        align-items: center;
    }

    #company-name {
        text-align: center;
        font-size: 190%;
        margin-top: 2.5%;
    }

    h1 {
        margin: 0;
    }

    #menu {
        float: left;
        font-size: 110%;
        margin: 2%;
        display: block;
    }


    /*test text side*/
    .text-side {
        width: 35%;
        padding: 0;
        overflow: hidden;
        margin: 0;
        height: 100%;
    }

    .text-side>h2 {
        font-size: 250%;
        padding: 5%;
    }

    .text-side>p {
        font-size: 170%;
        margin: 5%;
        padding: 2%;
    }

    /*Button in the text side*/
    .complete-form {
        font-size: 70%;
        border-radius: 10px;
        height: 40px;
        width: 120px;
        bottom: 10%;
        left: 27%;
        right: auto;
    }

    .main-title {
        font-size: 230%;
        margin-top: 0;
    }

    /*Footer*/
    .footer {
        height: 35px;
    }

    .social-media {
        height: 200%;
        font-size: 190%;
        letter-spacing: 30%;
    }

    /*4 column section*/
    .steps-container {
        width: 90%;
        height: 500px;
        margin: 3% 5%;

        display: flex;
        flex-wrap: wrap;
    }

    .steps-container>.steps-child {
        width: 40%;
        height: 200px;
    }

    .steps-child {
        margin: 0 5%;
    }

    a>p {
        font-size: 140%;
        margin: 0 5%;
    }

    hr {
        margin: 12% 15%;
        text-align: center;
        width: 70%;
    }

    /*Central section*/
    .container-central-section {
        border: 4px solid #ff914d;
        border-radius: 15%;
        margin: 5% 3%;
    }
    

    .child-central-section {
        margin: 5%;
        font-size: 130%;
    }

    /*review section*/
    .review-container>.review-child {
        height: 200px;
        width: 40%;
        display: inline;
        float: left;
        margin: 4% 5%;
    }

    i {
        font-size: 90%;
    }

    .review-container {
        width: 90%;
        height: 500px;
        margin: 3% 5%;
        float: left;
        overflow: hidden;
    }

    .reviews>.text-review {

        color: #FAF9F5;
        margin: 10% 0 0 3%;

        height: 200px;
        font-size: 120%;
    }

    .review-child {
        max-height: 100%;

        width: 40%;
        height: 250px;
        margin: 3% 5%;
        float: left;
        overflow: visible;
    }

    .subtitle {
        font-size: 100%;
        margin: 2%;
    }

    /*Footer*/
    /*alebrije 4 column section*/
    .big-container {
        width: 90%;
        height: 700px;
        margin: 3% 5% 20% 5%;
        display: flex;
        flex-wrap: wrap;
    }

    .big-container>.steps-child {
        width: 40%;
        height: 350px;
        margin: 5%;
    }

    /*Types of alebrije section*/
    .small-image-text>img {
        width: 32%;
        height: 100%;
    }

    .small-image-text {
        height: 400px;
        margin: 8% 0;
    }

    .big-text-side {
        font-size: 65%;
        height: 100%;
        width: 70%;
        margin: 0 2% 0 2%;
        border: 5px solid #ff914d;
        border-radius: 5%;
    }

    .image {
        height: 470px;
    }

    .text {
        margin: 0 3%;
        border: 5px solid #ff914d;
    }

    .text>h2 {
        font-size: 200%;
    }

    .text>p {
        font-size: 95%;
    }

    .instruction>p {
        font-size: 95%;
    }

    .instruction {
        margin: 5%;
    }

    .instruction>img {
        height: 40%;
        width: 50%;
    }

    /*About us page*/
    /* Contact-us*/
    .contact-details>p,
    .map-side>p {
        font-size: 100%;
    }

    .sub-heading {
        font-size: 150%;
    }

    /*Map*/
    .map-container {
        overflow: hidden;
        padding-bottom: 70%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .big {
        width: 250px;
        height: 250px;
    }
}

/*Media queries for max-width 750*/
/* text section
